.library .empty {
    font-family: 'Racing Sans One', cursive;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    color:rgb(199, 208, 208);
} 

.library .browse {
    background: var(--primary);
    border: 0;
    padding: 10px 28px;
    color:rgb(175, 218, 255);
    transition: 0.4s;
    width: 200px;
    font-size: 1.1rem;
    font-weight: 400;
}

.library .browse:hover {
    background: rgb(41, 43, 44);
}

