.vehicle-details{
    padding-bottom: 0;
}

.vehicle-details::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 60vh;
    background: var(--primary);
}

.details-left,
.details-middle,
.details-right {
 position: relative;
}

.details-img-left {
    position: relative;
    height: 55vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.vehicle-details .price{
    position:relative;
    font-family: 'Racing Sans One', cursive;
    font-size: 800;
    color:aliceblue;
    font-size: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
}

.price span{
    position: absolute;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.contact-seller {
    color:azure;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content {
    padding: 20px;
}

.content h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    color: aliceblue;
}

.details-box {
    padding: 20px;
    width: 100%;
    background: rgb(35, 45, 46);
    box-shadow: 2px 0 5px 0 rgb(198, 198, 198);
    margin-bottom: 15px;
    transition: 0.3s;
}

.details-box:hover {
    box-shadow: 2px 0 4px 0 rgba(70, 69, 69, 0.2);
}

.details-box i {
    display: block;
    font-size: 36px;
    color:rgb(45, 236, 236);
    float: left;
    line-height: 0;
}

.details-box span {
    font-family: 'Racing Sans One',cursive;
    font-size: 1.5rem;
    line-height: 10px;
    display: block;
    font-weight: 500;
    color: aliceblue;
    margin-left: 50px;
}

.details-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-size: 14px;
    color:aliceblue;
}

.details-img-middle, 
.details-img-right{
    height: 30vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.details-description {
    padding: 50px 20px 20px;
    color: aliceblue;
}