header {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    transition: 0.5s;
    z-index: 10000 !important;
}


header::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 130px;
    height: 100%;
    background: var(--primary);
    transition: 0.5s; 
} 

.logo {
    font-family:'Racing Sans One',cursive;
    font-size: 35px;
    color: rgb(199, 208, 208);
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1000; 
}

header .like {
    position: absolute;
    top: 0;
    right: 130px;
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third);
    color:rgb(199, 208, 208);
    font-size: 2rem;
    transition: 0.5s;
    cursor: pointer;
    z-index: 9000;
}

header .likeNumbers{
    position:absolute;
    right: 40px;
    top: 50px;
    font-size: 1.2rem;
    font-weight: 0;
    width: 25px;
    height: 25px;
    background: var(--forth);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

header .menu{
    position: relative;
    width: 100px;
    justify-content: center;
    height: 50%;
    color:rgb(199, 208, 208);
    transition: 0.5s;
    cursor: pointer;
    z-index: 10000;

}