.page-title {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
    color: rgb(199, 208, 208);
}

.page-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    background:rgb(53, 54, 55);
    bottom: 0;
    left: calc(50% - 50px);
}

.page-title h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.page-title p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(93, 97, 97);
}