.vehicle {
    position: relative;
    background:  #111111;
    margin-bottom: 30px;
    box-shadow: 0px 2px 30px  rgb(47, 82, 82) ;
}

.vehicle:hover .vehicle-img img {
    transform: scale(1.1);
}

.vehicle-img {
    overflow: hidden;
    margin-bottom: 15px;
}

.vehicle-img img{
    transition: 0.3s ease-in-out;
}

.vehicle h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    
}

.vehicle a{
    color:rgb(199, 208, 208);
}

.vehicle a:hover {
    color:rgb(1, 64, 64);
}

.vehicle p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: rgb(199, 208, 208);
    font-style: italic;
    font-size: 15px;
}

.vehicle .price {
    position: absolute;
    right: 20px;
    bottom: 85px;
    font-family: 'Racing Sans One', cursive;
    color:rgb(199, 208, 208);
    font-size: 1.5rem;
    float: right;
}

.vehicle .buttons {
    display: flex;
    justify-content:space-between;
}

.vehicle .buttons a {
    color:rgb(199, 208, 208);
    background: rgb(1, 64, 64);
    padding: 5px 20px;
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
    transition: 0.5s;
}

.vehicle .buttons .details {
    color:rgb(199, 208, 208);
    background:rgb(31, 71, 71);
}

.vehicle .buttons .details:hover {
    background: #111111;
    color:rgb(1, 64, 64);

}

.vehicle .buttons .like {
    background: rgb(8, 103, 1);
    color:rgb(199, 208, 208);
}

.vehicle .buttons .like:hover,
.vehicle .buttons .like.active{
    background: #ffffff;
    color:rgb(8, 103, 1);
}

