/*---------------------------------------- 
# General 
------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary:#1a1b1bc2;
  --second: #fffdfd;
  --third: #2b2c2dca;
  --forth: #0e8b07;
}

body {
  background: #111111;
  font-family:"Roboto",sans-serif;
}


*::-webkit-scrollbar{
  display: none;
}

a {
  color: var(--primary) ;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family:"Roboto", sans-serif;
}

.page {
  position: relative;
  width: 100%;
  padding: 0;
  transition: 0.5s;
  padding-bottom: 50px;
}

.page-img {
  position: relative;
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: center;
}
.page::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background: #0909096d;
}


